body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#3a0a14, #1a0509);
  color: white;
  text-align: center;
}

input, textarea, button {
  width: 90%;
  max-width: 400px;
  margin: 10px auto;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  background: #8b1d2c;
  color: white;
  font-size: 16px;
}

textarea {
  height: 120px;
}

#photos img {
  width: 90%;
  max-width: 300px;
  margin-top: 10px;
  border-radius: 10px;
}
